openapi: 3.0.3
info:
  title: Zephyr Cloud API
  description: |2

    # Introduction

    This is the **Zephyr Cloud** API. If you are looking for the Server API, please refer to the [documentation](https://support.smartbear.com/zephyr-scale-server/api-docs/v1/) for more information.

    This API uses the OpenAPI specification. If you want to generate clients for different languages, please use the link above to download the API specification and use it with your preferred tools.

    For feature requests or general support, please head to our [support site](https://support.smartbear.com/zephyr/message/).

    # Authentication
    The API authentication is based on JSON Web Token (JWT), which is a key for accessing the API. Authenticating using JWT requires the following steps:
    * Generate a key
    * Make authenticated requests

    ## Generate a Key
    For accessing the API, you must generate an access key in Jira. To generate an access token, click on your profile picture at the page bottom left, and
    choose the option ?Zephyr API keys". For more information, please check out the [documentation](https://support.smartbear.com/zephyr/docs/en/rest-api/api-access-tokens-management.html).

    ## Accessing the API
    The API is available at different base URLs depending on your data residency region:

    **US region:**
    ```
    https://api.zephyrscale.smartbear.com/v2
    ```

    **EU(eu-west-1) region:**
    ```
    https://eu.api.zephyrscale.smartbear.com/v2
    ```

    **AU(ap-southeast-1) region:**
    ```
    https://au.api.zephyrscale.smartbear.com/v2
    ```

    **DE(eu-central-1) region:**
    ```
    https://de.api.zephyrscale.smartbear.com/v2
    ```

    ### Example API Calls

    Append the specific endpoint path to your region's base URL. For example, to retrieve test cases:

    - **US:** `https://api.zephyrscale.smartbear.com/v2/testcases`
    - **EU:** `https://eu.api.zephyrscale.smartbear.com/v2/testcases`
    - **AU:** `https://au.api.zephyrscale.smartbear.com/v2/testcases`
    - **DE:** `https://de.api.zephyrscale.smartbear.com/v2/testcases`

    ## Making Authenticated Requests
    To authenticate subsequent API requests, you must provide a valid token in an HTTP header, which is the key generated on the previous step:
    ```
    Authorization: Bearer {bearer_token}
    ```
    # Representing Users

    Previous API definitions used Atlassian User Keys to identify users. This parameter is deprecated because of privacy
    changes. Use Atlassian Account ID instead.


    Atlassian Account IDs are globally unique opaque identifiers for identifying a user. Every Atlassian Account has a
    ID which is assigned when the account is created and is immutable. Account IDs contain no personally identifiable
    information and are only used to retrieve user information ondemand. This API does not return any user information
    other than the Account ID (with the exception of the deprecated user keys during the deprecation period).
  version: '2'
  x-logo:
    url: https://smartbear-tm4j-prod-us-west-2-api-docs.s3-us-west-2.amazonaws.com/images/zephyr-logo2.svg
    altText: Zephyr Cloud
    href: https://support.smartbear.com/zephyr/message/
servers:
- url: https://api.zephyrscale.smartbear.com/v2
  description: US region
- url: https://eu.api.zephyrscale.smartbear.com/v2
  description: EU region
- url: https://au.api.zephyrscale.smartbear.com/v2
  description: AU region
- url: https://de.api.zephyrscale.smartbear.com/v2
  description: DE region
security:
- AccessToken: []
tags:
- name: Test Cases
  description: |
    Operations related to test cases.<br>
    No operations are enabled on archived test cases.
- name: Test Cycles
  description: Operations related to test cycles.
- name: Test Executions
  description: Operations related to test executions.
- name: Folders
  description: Operations related to folders.
- name: Statuses
  description: Operations related to statuses.
- name: Priorities
  description: Operations related to priorities.
- name: Environments
  description: Operations related to environments.
- name: Projects
  description: Operations related to projects.
- name: Links
  description: Operations related to links.
- name: Issue Links
  description: Operations related to coverage of issue links.
- name: Automations
  description: Operations related to test case automations.
paths:
  /testcases:
    get:
      tags:
      - Test Cases
      summary: Get test cases
      description: |
        Retrieves all test cases. Query parameters can be used to filter the results. If the user who is preforming the API call has access to more than 1000 projects, the `projectKey` query parameter is mandatory.
      operationId: listTestCases
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: ([A-Z][A-Z_0-9]+)
          type: string
      - name: folderId
        in: query
        description: Folder ID filter
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: maxResults
        in: query
        description: |
          Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.

          Note that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          maximum: 1000000
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseList'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cases
      summary: Create test case
      description: |
        Creates a test case. Fields `priorityName` and `statusName` will be set to default values if not informed. Default values are usually ?Normal? for `priorityName` and ?Draft? for `statusName`. All required test case custom fields should be present in the request. Note: when a test case is created, a single empty test step is automatically added to it. To define your own test steps, use the `POST /testcases/{testCaseKey}/teststeps` endpoint after creation using `OVERWRITE` mode.
      operationId: createTestCase
      requestBody:
        description: Test Case Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCaseInput'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyedCreatedResource'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/nextgen:
    get:
      tags:
      - Test Cases
      summary: Get test cases (NextGen)
      description: |
        Retrieves all test cases. Query parameters can be used to filter the results.

        Use this endpoint for retrieving large volumes of test cases.

        Results are split in different pages, of size equal to the `limit` query parameter.
        To fetch the next page, use the `next` URL returned in the response.
        It should have the same parameters as the original request, with the updated value for `startAtId` parameter.
        Alternatively, the same request can be made with the `startAtId` parameter set to the `nextStartId` value
        returned in the response.
      operationId: listTestCasesCursorPaginated
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: ([A-Z][A-Z_0-9]+)
          type: string
      - name: folderId
        in: query
        description: Folder ID filter
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: limit
        in: query
        description: |
          Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.

          Note that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the limit value in the response to confirm how many results were actually returned.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAtId
        in: query
        description: Zero-indexed starting position for ID-based pagination.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      - name: updatedAfter
        in: query
        description: 'Filter only entities updated after the given time. Format: yyyy-MM-dd''T''HH:mm:ss''Z'''
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPagedTestCaseList'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}:
    get:
      tags:
      - Test Cases
      summary: Get test case
      description: Returns a test case for the given key.
      operationId: getTestCase
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
    put:
      tags:
      - Test Cases
      summary: Update test case
      description: |
        Updates an existing test case. Please take into account that for each non-specified field the value will be cleared. If the project has test case custom fields, all custom fields should be present in the request. To leave any of them blank, please set them null if they are not required custom fields.
      operationId: updateTestCase
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      requestBody:
        description: Test Case Update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTestCaseInput'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/links:
    get:
      tags:
      - Test Cases
      summary: Get links
      description: Returns links for a test case with specified key.
      operationId: getTestCaseLinks
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseLinkList'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/links/issues:
    post:
      tags:
      - Test Cases
      summary: Create issue link
      description: Creates a link between a test case and a Jira issue.
      operationId: createTestCaseIssueLink
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      requestBody:
        description: Issue Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinkInput'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/links/weblinks:
    post:
      tags:
      - Test Cases
      summary: Create web link
      description: Creates a link between a test case and a generic URL.
      operationId: createTestCaseWebLink
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      requestBody:
        description: Web Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebLinkInput'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/versions:
    get:
      tags:
      - Test Cases
      summary: Get versions
      description: Returns all test case versions for a test case with specified key.
        Response is ordered by most recent first.
      operationId: listTestCaseVersions
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      - name: maxResults
        in: query
        description: |
          Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.

          Note that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          maximum: 1000000
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseVersionLinkList'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/versions/{version}:
    get:
      tags:
      - Test Cases
      summary: Get version
      description: Retrieves a specific version of a test case.
      operationId: getTestCaseVersion
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      - name: version
        in: path
        description: Version of the test case to retrieve.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/testscript:
    get:
      tags:
      - Test Cases
      summary: Get test script
      description: Returns the test script for the given test case
      operationId: getTestCaseTestScript
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestScript'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cases
      summary: Create test script
      description: Creates or updates the test script for a test case. If the test
        case currently has a sequence of test steps assigned to it, these will be
        implicitly removed.
      operationId: createTestCaseTestScript
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      requestBody:
        description: Test Script Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestScriptInput'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/teststeps:
    get:
      tags:
      - Test Cases
      summary: Get test steps
      description: Returns the test steps for the given test case. Provides a paged
        response, with 100 items per page.
      operationId: getTestCaseTestSteps
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      - name: maxResults
        in: query
        description: |
          Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.

          Note that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          maximum: 1000000
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestStepsList'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cases
      summary: Post test steps
      description: |
        Assigns a series of test steps to a test case, appending them to any existing sequence of test steps. A maximum of 100 steps can be posted per request. Consumers should not attempt to parallelize this operation, as the order of the steps is defined by the input order. If this endpoint is called on a test case that already has a plain text or BDD test script, that test script will implicitly be removed. All required step custom fields should be present in the request.
      operationId: createTestCaseTestSteps
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      requestBody:
        description: Test Step Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestStepsInput'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/attachments/{attachmentId}:
    get:
      tags:
      - Test Cases
      summary: Get attachment
      description: Returns the content of an attachment for the given test case.
      operationId: getTestCaseAttachment
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      - name: attachmentId
        in: path
        description: The numeric ID of the attachment.
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Content-Disposition:
              description: Suggested filename for the attachment (e.g. `attachment;
                filename="screenshot.png"`)
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/attachments/{fileName}:
    put:
      tags:
      - Test Cases
      summary: Upload attachment
      description: |
        Uploads a file and attaches it to a test case.
        Send the file as the raw request body. The attachment's display name is taken from the `fileName` path parameter.
        Maximum file size is 1 GB per attachment.
        File name must contain 1 to 255 characters. It cannot contain `/`, `\`, `..`, or
        null bytes. URL-encode any special characters (for example, spaces
        become `%20`).

        Uploading the same `fileName` again creates an additional attachment for test case;
        existing attachments are not replaced.
      operationId: uploadTestCaseAttachment
      parameters:
      - name: testCaseKey
        in: path
        description: The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+
        required: true
        schema:
          pattern: (.+-T[0-9]+)
          type: string
      - name: fileName
        in: path
        description: |
          The name of the file being uploaded, including its extension (for example, `screenshot.png`).
          This is used as the attachment's display name. URL-encode any special characters and keep
          the name to 255 characters or fewer.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        description: Binary file content to attach to the test execution.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseIdOrKey}/teststeps/{testCaseStepId}/attachments/{fileName}:
    put:
      tags:
      - Test Cases
      summary: Upload test step attachment
      description: |
        Uploads a file and attaches it to a test case step.
        Send the file as the raw request body. The attachment's display name is taken from the `fileName` path parameter.
        Maximum file size is 1 GB per attachment.
        File name must contain 1 to 255 characters. It cannot contain `/`, `\`, `..`, or
        null bytes. URL-encode any special characters (for example, spaces
        become `%20`).

        Uploading the same `fileName` again creates an additional attachment for test cycle;
        existing attachments are not replaced.

        `testExecutionStepId` is the numeric ID of
        the step within the test execution. Retrieve it from
        `GET /testcases/{testCaseKey}/teststeps`.
      operationId: createTestCaseTestStepAttachment
      parameters:
      - name: testCaseIdOrKey
        in: path
        description: The ID or key of the test case.
        required: true
        schema:
          pattern: ([0-9]+)|([A-Z][A-Z_0-9]+-T[0-9]+)
          type: string
      - name: testCaseStepId
        in: path
        description: The ID of the step within the test case.
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: fileName
        in: path
        description: |
          The name of the file being uploaded, including its extension (for example, `screenshot.png`).
          This is used as the attachment's display name. URL-encode any special characters and keep
          the name to 255 characters or fewer.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        description: The contents of the file to attach.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseIdOrKey}/teststeps/{testCaseStepId}/attachments/{attachmentId}:
    get:
      tags:
      - Test Cases
      summary: Get step attachment
      description: Returns the content of an attachment for the given test case step.
        `testCaseStepId` is the numeric ID of the step within the test case. Retrieve
        it from `GET /testcases/{testCaseKey}/teststeps`.
      operationId: getTestCaseStepAttachment
      parameters:
      - name: testCaseIdOrKey
        in: path
        description: The ID or key of the test case.
        required: true
        schema:
          pattern: ([0-9]+)|([A-Z][A-Z_0-9]+-T[0-9]+)
          type: string
      - name: testCaseStepId
        in: path
        description: The ID of the step within the test case.
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: attachmentId
        in: path
        description: The numeric ID of the attachment.
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseIdOrKey}/teststeps/{testStepId}/attachments:
    get:
      tags:
      - Test Cases
      summary: Get test case step attachments
      description: Returns a paged list of attachments for a test case step, including
        their database ID and file name.
      operationId: getTestCaseTestStepAttachmentsReference
      parameters:
      - name: testCaseIdOrKey
        in: path
        description: The ID or key of the test case.
        required: true
        schema:
          pattern: ([0-9]+)|([A-Z][A-Z_0-9]+-T[0-9]+)
          type: string
      - name: testStepId
        in: path
        description: The ID of the test case step. Test step IDs are numeric, of the
          format [0-9]+
        required: true
        schema:
          pattern: ([0-9]+)
          type: string
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentMetadataList'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcases/{testCaseIdOrKey}/attachments:
    get:
      tags:
      - Test Cases
      summary: Get test case attachments
      description: Returns a paged list of attachments for a test case, including
        their database ID and file name.
      operationId: getTestCaseAttachmentsReference
      parameters:
      - name: testCaseIdOrKey
        in: path
        description: The ID or key of the test case.
        required: true
        schema:
          pattern: ([0-9]+)|([A-Z][A-Z_0-9]+-T[0-9]+)
          type: string
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentMetadataList'
        '401':
          description: Unauthorized. The request is missing valid authentication credentials.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Not Found. The requested resource does not exist.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. An unexpected error occurred while processing
            the request.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
  /testcycles:
    get:
      tags:
      - Test Cycles
      summary: Get test cycles
      description: Returns all test cycles. Query parameters can be used to filter
        by project and folder.
      operationId: listTestCycles
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: ([A-Z][A-Z_0-9]+)
          type: string
      - name: folderId
        in: query
        description: Folder ID filter
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: jiraProjectVersionId
        in: query
        description: Jira Project Version ID. Relates to 'Version' or 'Releases' in
          Jira projects.
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: maxResults
        in: query
        description: |
          Specifies the maximum number of results to return in a single call. The default value is 10, and the maximum value that can be requested is 1000.

          Note that the server may enforce a lower limit than requested, depending on resource availability or other internal constraints. If this happens, the result set may be truncated. Always check the maxResults value in the response to confirm how many results were actually returned.
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          maximum: 1000000
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCycleList'
        '400':
          description: |
            Bad Request. Returned when a query parameter is invalid:
            - `projectKey` does not match `([A-Z][A-Z_0-9]+)`
            - `maxResults` < 1, `startAt` < 0 or > 1000000, `folderId` < 1, or `jiraProjectVersionId` < 1
            - a numeric parameter is sent with a non-numeric value
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/QueryParameterValidationError'
                - $ref: '#/components/schemas/WrongQueryParameterError'
        '401':
          description: Unauthorized. Returned when the bearer token is missing, malformed,
            or fails verification.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/MissingAuthorizationError'
                - $ref: '#/components/schemas/MalformedTokenStructureError'
                - $ref: '#/components/schemas/MalformedTokenBase64Error'
                - $ref: '#/components/schemas/MalformedTokenJsonError'
                - $ref: '#/components/schemas/InvalidJwtError'
        '404':
          description: |
            Not Found. Returned when:
            - the `projectKey` filter refers to a project that does not exist or is deactivated
            - the `folderId` filter refers to a folder that does not exist
            - a project in scope is inaccessible or disabled
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ProjectNotFoundOrDeactivatedError'
                - $ref: '#/components/schemas/FolderNotFoundError'
                - $ref: '#/components/schemas/InaccessibleOrMissingDataError'
                - $ref: '#/components/schemas/DisabledProjectError'
        '500':
          description: Internal Server Error. Returned when the backend service errors
            or is unreachable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCallError'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cycles
      summary: Create a Test Cycle
      description: Creates a Test Cycle. All required test cycle custom fields should
        be present in the request.
      operationId: createTestCycle
      requestBody:
        description: Test Cycle Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCycleInput'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyedCreatedResource'
        '400':
          description: |
            Bad Request. Returned when:
            - a required field is missing or invalid: `projectKey` (pattern `([A-Z][A-Z_0-9]+)`), `name` (non-blank, 1-255 chars), or `folderId` (>= 1)
            - the body is not valid JSON, or a field has the wrong format (e.g. a non-ISO-8601 date)
            - `folderId` does not exist or is not a TEST_CYCLE folder
            - a custom field does not exist, has the wrong value type, or references an unknown option
            - a required custom field is missing or empty, or a required multi-choice field is set to an empty list
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/RequestBodyValidationError'
                - $ref: '#/components/schemas/InvalidFieldFormatError'
                - $ref: '#/components/schemas/InvalidPayloadError'
                - $ref: '#/components/schemas/FolderNotFoundBadRequestError'
                - $ref: '#/components/schemas/FolderWrongTypeError'
                - $ref: '#/components/schemas/UnknownCustomFieldError'
                - $ref: '#/components/schemas/CustomFieldWrongTypeError'
                - $ref: '#/components/schemas/InvalidCustomFieldOptionError'
                - $ref: '#/components/schemas/RequiredCustomFieldsMissingError'
                - $ref: '#/components/schemas/RequiredCustomFieldsNotProvidedError'
                - $ref: '#/components/schemas/RequiredCustomFieldsNoValueError'
                - $ref: '#/components/schemas/MultiChoiceCustomFieldEmptyError'
        '401':
          description: Unauthorized. Returned when the bearer token is missing, malformed,
            or fails verification.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/MissingAuthorizationError'
                - $ref: '#/components/schemas/MalformedTokenStructureError'
                - $ref: '#/components/schemas/MalformedTokenBase64Error'
                - $ref: '#/components/schemas/MalformedTokenJsonError'
                - $ref: '#/components/schemas/InvalidJwtError'
        '403':
          description: |
            Forbidden. Returned when the caller lacks the `CREATE_TEST_RUN` permission (when the project's permission system is enabled), or references custom fields that do not belong to the client.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InsufficientPermissionError'
                - $ref: '#/components/schemas/CustomFieldsForbiddenError'
        '404':
          description: |
            Not Found. Returned when:
            - the `projectKey` refers to a project that does not exist or is deactivated
            - the `statusName` does not exist for the project
            - a referenced Jira entity (e.g. `jiraProjectVersion`) does not exist or is not accessible
[...]
